@font-face {
  font-family: 'MyriadPro-Regular';
  src: url('MyriadPro-Regular.otf') format('truetype');
  font-display: swap;
}

html,
body {
  font-family: 'MyriadPro-Regular',
    Arial,
    sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100%;
  overflow-y: scroll;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f8f6d1+0,6b303e+100 */
  background: #fcf8ed;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #2d444c;
}

.header>span {
  max-width: 800px;
  width: 100%;
  font-size: 1.2rem;
  text-align: center;
  padding: 20px;
}

.poster {
  height: 100%;
  width: 100%;
  max-height: 500px;
}

.poster>img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #2d444c;
  margin-top: 10px;
}

.footer>small {
  margin-top: 1rem;
}

a.btn {
  text-decoration: none;
  color: #2d444c;
}

a.btn-download {
  font-size: 1.5rem;
  color: #2d444c;
}

a.btn-footer {
  font-size: 1.2rem;
  text-decoration: underline;
  color: #2d444c;
}